{% extends "base.html" %}

{% block content %}
<br/><br/>

<h2>Searched for...<em>{{ searched }}</em></h2>
{% if posts %}

{% for post in posts %}

 <div class= "shadow p-3 mb-5 bg-body rounded">

            <h3><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h3>
            <small> By: {{ post.poster.name }} | {{ post.date_added }}</small>
            <br/><br/>
            <p> {{ post.content | safe }}</p>
            <br/>
            <a href="{{url_for('post', id=post.id)}}" class= "btn btn-outline-secondary btn-sm">View Post</a>
{% if post.poster.id == current_user.id %}
<a href="{{url_for('edit_post', id=post.id)}}" class= "btn btn-outline-secondary btn-sm">Edit Post</a>

<a href="{{url_for('delete_post', id=post.id)}}" class= "btn btn-outline-danger btn-sm">Delete Post</a>

{% endif %}
  </div>
{% endfor %}

{% else %}

<p>Sorry, no result matched your search <strong>{{ searched }}</strong>

{% endif %}

{% endblock %}